#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid {
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
  gap: 10px;
  padding-right: 12px;
}

.panel {
  border: light-dark(#888, #A0A0A0) 2px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: light-dark(#F5F5F5, #090909);
}

.hSpacer {
  width: 10px;
}

.vSpacer {
  height: 30px;
}

.menu {
  min-width: 200px;
}

.colourSquare {
  margin: 4px;
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-color: light-dark(#555555, #A0A0A0);
  border-radius: 5px;
  border-style: solid;
}

.colourSquare:hover,
.colourSquare.selected {
  border-width: 5px;
  margin: 1px;
}

.colourSquare.copyable {
  cursor: copy;
}

.status {
  height: 20px;
}

.menu {
  text-align: left;
  padding-left: 12px;
}

input {
  margin-left: 12px;
  margin-right: 12px;
}
